/*** GLOBAL ***/

body {
    margin: 1em;
}

footer {
    border-top: solid 1px #B3B3B3;
    clear: both;
    padding: 1em 0;
    margin: 3em 0 0 0;
    font-size: 0.6em;
}
/*** TapirWiki ***/

#content input {
    width: 100%;
}
/*
table from bootstrap because we can't set class in markdown
*/

table {
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}

table>caption+thead>tr:first-child>td, table>caption+thead>tr:first-child>th, table>colgroup+thead>tr:first-child>td, table>colgroup+thead>tr:first-child>th, table>thead:first-child>tr:first-child>td, table>thead:first-child>tr:first-child>th {
    border-top: 0;
}

table>tbody>tr>td, table>tbody>tr>th, table>tfoot>tr>td, table>tfoot>tr>th, table>thead>tr>td, table>thead>tr>th {
    padding: 0.5em 1em;
}

table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

td, th {
    text-align: left;
}

table>tbody>tr>td, table>tbody>tr>th, table>tfoot>tr>td, table>tfoot>tr>th, table>thead>tr>td, table>thead>tr>th {
    vertical-align: top;
    border-top: 1px solid #ddd;
}

table>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

#templates a {
    margin-left: 1em
}

#content {
    border-top: solid 1px #B3B3B3;
    clear: both;
    padding: 1em
}

#content label {
    float: left;
    margin-left: 0;
    margin-right: 1em;
    padding-left: 0;
}

#content input {
    font-family: arial, sans-serif;
    margin: 0;
}

#content textarea {
    border: solid 1px #ddd;
    font-family: monospace;
    height: 300px;
    margin: 0;
    width: 100%;
}

#upload-button {
    margin-top: 1em
}

.error {
    background-color: #00ff00
}