<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />

    <title>TapirWiki</title>

    <link rel="stylesheet" type="text/css" href="./static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./static/css/jquery.jgrowl.min.css" />
    <link rel="stylesheet" type="text/css" href="./static/css/tapirwiki.css" />
    <!--link rel="stylesheet" type="text/css" href="./kanso-topbar/topbar.css" /-->

</head>

<body>
    <div id="container">
        <div id="wrapper">
            <nav id="kanso-topbar" class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!--a class="navbar-brand" href="#">Brand</a-->
                        <a class="navbar-brand" href="./">
                            <span id="wikiName"></span>
                            :
                            <span id="pageTitle"></span>
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul id="main-menu" class="nav navbar-nav">
                            <li class="hidden-xs nav-spacer"></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
            </nav>
            <ul id="page-menu" class="nav nav-pills"></ul>
            <div id="content">
                <div id="inner-content">
                    <p>Loading...</p>
                </div>
                <div id="md-preview"></div>
            </div>
        </div>
        <footer>
            <p>Powered by <a href="https://github.com/johnko/kanso-wiki">TapirWiki</a>.</p>
        </footer>
    </div>
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- json2.js; add JSON if not exist; from https://github.com/douglascrockford/JSON-js -->
    <script src="./static/js/json2.js"></script>

    <!-- jquery -->
    <script src="./static/js/jquery-1.11.2.min.js"></script>

    <!-- jquery plugins; requires jquery -->
    <script src="./static/js/js.cookie-1.5.1.min.js"></script>
    <script src="./static/js/jquery.jgrowl.min.js"></script>

    <!-- bootstrap.min.js; requires jquery -->
    <script src="./static/js/bootstrap.min.js"></script>

    <!-- jquery.tapirwiki.js; detects hash changes; requires jquery -->
    <script src="./static/js/jquery.tapirwiki.js"></script>

    <!-- modules for require -->
    <script src="./modules.js"></script>

    <!-- macros; requires jquery -->
    <script src="./static/js/macros.js"></script>

    <!-- tapirwiki.js; requires modules and macros.js -->
    <script src="./static/js/tapirwiki.js"></script>
    <script>
        // in case the above don't load
        // redirect to _rewrite if we have no trailing slash
        if (window.location.href.match(/\/_rewrite$/) !== null) location.href += '/';

    </script>
</body>

</html>
